/* ADAPTIVE CSS */
@import url('../../assets/css/adaptive.css');

.welcome_box {
    background-color: hsl(0, 100%, 50%, .4);
    border: .11em solid red;

    height: 70vh;
    width: 66vw;
    border-radius: .2em;

    position: absolute;
    left: 17vw;    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    overflow: visible;

    transition: 1s;   
}
#animationWelcomeBox {
    animation: appearWelcomeBox steps(20) .7s normal;
}
@keyframes appearWelcomeBox {
    0%{
    top: 100vh;    
    transform: scaleX(0) scaleY(0);
    }
    60%{
       transform: scaleX(.01) scaleY(.095); 
    }
    75%{
       top: 40%;    
       transform: scaleX(.03) scaleY(1); 
    }
    100%{
    transform: scaleX(1); 
    }
}

.welcome_background_effect {
    background-color: hsl(0, 100%, 50%, .05);
    border-radius: 2%;

    height: 100%;
    width: 100%;
    
    position: absolute;
    z-index: 1;
    /* initial */
    /* top: 0%;
    left: -200%; */
/* 
    top: -70%;
    left: -5%; */

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: visible;
    
    /* transform: rotate(5deg); */

}

/* plus effects */
/* 
.welcome_background_effect_plus_1 {
    background-color: inherit;
    border-radius: inherit;

    position: absolute;
    z-index: 2;

    top: 20%;
    left: 86%;

    height: 50%;
    width: 20%;
}

.welcome_background_effect_plus_2 {
    background-color: inherit;
    border-radius: inherit;

    color: beige;

    position: absolute;
    z-index: 3;

    top: 11%;
    left: 62%;

    height: 90%;
    width: 40%;
} */

/* squares inside */
.welcome_photo {

    height: 50%;
    width: 26%;
    
    border-radius: .9rem;


    position: absolute;

    top: 5%;
    left: 10%;

    z-index: 2;

}
.photo_avatar {
    height: 100%;

    position: absolute;
    
    top: 0%;
    left: 0%;
    
}

#animationGlitchSquare1 {
    animation: glitch1 1s infinite,
               screen_opening 3s normal;
}
#animationGlitchSquare2 {
    animation: glitch1 1s .9s infinite,
               screen_opening 3s .9s normal;
}
#animationGlitchSquare3 {
    animation: glitch1 1s .9s infinite,
               screen_opening 3s .3s normal;
}

#staticInvisible {
      display: none;
      
      top: 200%;

}
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
} 
@keyframes screen_opening {
    0% {
      transform: scaleX(0);
    }
    7% {
      transform: scaleX(0.15);
    }
    10% {
      transform: scaleX(0.1);
    }
    27% {
      transform: scaleX(0.15);
    }
    30% {
    }
    35% {
      transform: scaleX(0.7);
    }
    52% {
      transform: none;
    }
    55% {
      transform: scaleX(0.8);
    }
    50% {
      transform: scaleX(0.85);
    }
    72% {
      transform: scaleX(0.9);
    }
    75% {
      transform: scaleX(0.91);
    }
    80% {
      transform: scaleX(.95);
    }
    100% {
      transform: scaleX(1);
    }
}

.welcome_name, .welcome_secondname, .welcome_surname{
    position: absolute;

    transform: scaleY(2);

    height: 10%;

    border: .1em solid red;
    fill: rgb(54, 7, 7);

}


.welcome_name{
    top: 30%;
    left: 37%;

}

.welcome_secondname {
    top: 45%;
    left: 40%;

}

.welcome_surname{
    top: 60%;
    left: 40%;

}