*{
  padding: 0%;
  margin: 0%;

  font-size: unset;

  overflow: hidden;
  
}

:root {
  --color-red-0: hsl(333, 100%, 51%, 0.05);
  --color-red-0-2: hsl(333, 100%, 51%, 0.4);
  --color-red-1: #ff0677;
  --color-red-1-1: hsl(333, 100%, 90%);
  --color-red-2: hsl(333, 100%, 41%);

  --color-blue-0: hsl(221, 100%, 50%, 0.05);
  --color-blue-0-2: hsl(221, 100%, 50%, 0.4);
  --color-blue-1: hsl(221, 100%, 50%); 
  --color-blue-1-1: hsl(221, 100%, 90%); 
  --color-blue-2: hsl(221, 100%, 40%);
  --color-blue-3: hsl(221, 100%, 10%);
  --color-blue-3-2: hsl(221, 30%, 50%);

  --color-rose-0:hsl(300, 100%, 50%, 0.05);
  --color-rose-0-2: hsl(300, 100%, 50%, 0.4);
  --color-rose-1: hsl(300, 100%, 50%);
  --color-rose-1-1: hsl(300, 100%, 90%);
  --color-rose-2: hsl(300, 100%, 40%);
  --color-rose-3: hsl(300, 100%, 10%);
  --color-rose-3-2: hsl(300, 30%, 50%);
  
  
  --color-yellow-0: hsl(59, 100%, 55%, 0.05);
  --color-yellow-0-2: hsl(59, 100%, 55%, 0.4);
  --color-yellow-1: hsl(59, 100%, 55%);
  --color-yellow-1-1: hsl(59, 100%, 95%);
  --color-yellow-2: hsl(59, 100%, 45%);
  --color-yellow-3: hsl(59, 100%, 15%);
  --color-yellow-3-2: hsl(59, 30%, 55%);


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
