@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.beam_background_box, .background_box {
    background-color: black;
    height: 100vh;
    width: 100vw;

    position: fixed;
    z-index: -2;

    overflow: hidden;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    opacity: 1;
    
    
}

.text_matrix {
    font-family: 'Roboto Condensed', sans-serif;

    /* text-orientation: sideways; */
    /* writing-mode: sideways-lr; */
    /* text-orientation: upright; */
    /* writing-mode: vertical-lr; */

    
    transition: 3s;


    /* user-select: none; */
    white-space: nowrap;

    margin-left: -9;
    margin-right: -9;
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4); */

    
    

}
#animation:hover {


    /* user-select: contain; */

    color: blue;
    
}

#animation {


    animation: mutateSize 7s infinite;

}

@keyframes mutateSize {
    0%{
        transform: skew(1deg) rotate(1deg) scale(1.2);

    }
    20%{
        transform: skew(1deg) rotate(1deg) scale(1.2);
        
    }
    21%{
        transform: skew(2deg) rotate(2deg) scale(1.1);
        
    }
    40%{
        transform: skew(2deg) rotate(2deg) scale(1.1);
        
    }
    41%{
        transform: skew(1deg) rotate(2deg) scale(1.1);
        
    }
    55%{
        transform: skew(1deg) rotate(2deg) scale(1.1);
        
    }
    56%{
        transform: skew(2deg) rotate(1deg) scale(1.1);
        
    }
    70%{
        transform: skew(2deg) rotate(1deg) scale(1.1);
        
    }
    71%{
        transform: skew(1deg) rotate(1deg) scale(1.2);
        
    }
    100%{
        transform: skew(1deg) rotate(1deg) scale(1.2);
        
    }


}

.temporary_button {
    background-color: red;

    height: 10vh;
    width: 10vw;

    position: absolute;
    top: 90vh;
    left: 0vw;

    cursor: pointer;

    opacity: .1;

    z-index: 4;
}

.button2 {
    background-color: blue;
    left: 10vw;
}

.button3 {
    background-color: green;
    left: 20vw;
}