@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.background_box {
    background-color: black;
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: -2;

    overflow: hidden;
}

.text_matrix {
    font-family: 'Roboto Condensed', sans-serif;

    /* text-orientation: sideways; */
    /* writing-mode: sideways-lr; */
    /* text-orientation: upright; */
    /* writing-mode: vertical-lr; */

    

}

.text_matrix:hover {


    /* user-select: contain; */

    color: red;
    
}

#animation {

}